body {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Merriweather', serif;
}

.logo img {
    width: 15%;
    height: 5%;
}

.navbar-nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.second-col img {
    
}


