body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    border: 1px solid red;
    height: 700px;
}

.logo {
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}

.logo img {
    width: 15%;
    height: 5%;
}

.navbar {
    background-color: white;
    height: 12%;
}

.navbar-nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

#home img {
    width: 101.9%;
    margin-left: -1%;
    margin-top: -8%;
    opacity: 0.6;
    height: 800px;
}

#home .home-content p {
    position: absolute;
    margin-top: -32%;
    color: rgb(51, 48, 48);
    font-size: 45px;
    font-weight: bolder;
    width: 50%;
}

.floating-button {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-top: -15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: rgb(36, 35, 35);
    box-shadow: 0 15px 20px rgba(10, 61, 230, 0.74);
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
}

#section-describe {
    margin-top: 5%;
    
}

#section-describe div img {
    height: 40%;
}

#section-describe div h2 {
    margin-top: 3%;
}

#section-describe div .top-row {
    margin-top: 18%;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#section-describe div p {
    margin-top: 3%;
}

#section-describe div .button {
    margin-top: 2%;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    background: black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

#section-describe div .button:hover {
    background: rgb(36, 35, 35);
    box-shadow: 0 15px 20px rgba(10, 61, 230, 0.74);
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
}

#goal {
    background: #1D1B26;
    height: 350px;
    color:rgb(255, 255, 255);
} 
